.form__sign,
.form__input-text,
.form__input-title {
  margin-bottom: 15px;
}

.form__input-text,
.form__input-title {
  width: 500px;
  resize: vertical;
  padding: 15px;
  border-radius: 15px;
  border: 2px solid #000;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.26);
  min-height: 200px;
  outline: none;
}

.form__input-text:focus,
.form__input-title:focus {
  border-color: rgb(61, 61, 231);
}

.form__input-title {
  padding: 10px 15px;
  width: 500px;
  min-height: 42px;
}

.form__buttons-inner {

}

.form__send,
.form__update-state {
  border-radius: 15px;
  padding: 8px;
  background-color: transparent;
  cursor: pointer;
}

.form__send {
  margin-right: 15px;
}