.main__inner {
  display: flex;

}

.main__create-title {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.form__item {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

/* AdminCreateArticle */

.main__create-article,
.main__preview-article {
  padding: 10px;
  width: 50%;
}