.main__create-card {
  padding: 15px;
}

.main__create-card-title {
  margin-bottom: 20px;
  font-size: 28px;
}

.form-card {

}

.form-card__info {
  display: block;
  font-size: 22px;
  margin-bottom: 20px;
}

.form-card__inner {
  margin-bottom: 20px;
  font-size: 18px;
}

.form-card__inner label {
  margin-right: 15px;
}

.form-card__input-radio {
  margin-right: 4px;
}

.form-card__submit {
  padding: 5px;
  background-color: transparent;
  outline: none;
  color: rgb(0, 0, 0.9);
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 5px;
  text-decoration: none;
}