@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.panel__btn {
  @apply w-12 h-12 p-2 mr-1 bg-blue-700 hover:bg-blue-800 transition rounded-xl text-white text-xl;
}

.input__newTag {
  @apply w-full h-12 p-3 rounded outline-blue-700;
}

.input__newTag-resize {
  @apply resize mb-2 h-12;
}

html,
body {
  height: 100%;
  font-family: 'Poppins', sans-serif
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.page-exit-active {
  display: none !important;
}